* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameBoard {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 100px;
  justify-items: center;
  align-items: center;
  background-image: url("Img/Grid.png");
}

.squares {
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 160px;
}

container {
  display: grid;
  justify-content: center;
  row-gap: 100px;
}

.buttons {
  justify-self: center;
  padding-top: 50px;
}

.newGame {
  padding: 10px 20px;
  font-size: 20px;
}
