* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameBoard {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 100px;
  background-image: url("Img/Grid.png");
}

.squares {
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 160px;
}

container {
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.buttons {
  margin-top: 40px;
  margin-bottom: 20px;
  align-self: center;
  display: grid;
  justify-content: center;
}

.newGame {
  padding: 10px 20px;
  font-size: 20px;
  justify-self: center;
}

.placed {
  pointer-events: none;
}

.gameStatus {
  font-size: 60px;
  text-align: center;
}
