* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.getPlayers {
  border: 1px black solid;
  padding: 60px;
  display: grid;
  gap: 10px;
}

.getPlayers .h1 {
  font-size: 30px;
}

.formContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  grid-area: 1 / 1 / 2 / 2;
}

.gameContainer {
  display: grid;
}

.gameTitle {
  font-size: 50px;
  text-align: center;
}

.gameBoard {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 100px;
  background-image: url("Img/Grid.png");
}

.squares {
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 160px;
}

container {
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2;
}

.buttons {
  margin-top: 40px;
  margin-bottom: 20px;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
}

.newGame,
.resetGame {
  padding: 10px 20px;
  font-size: 20px;
  justify-self: center;
}

.placed {
  pointer-events: none;
}

.gameStatus {
  font-size: 55px;
  text-align: center;
}
